div {
  margin: 400px auto;
  width: 300px;
  height: 100px;

}

#box1 {
  background-color: purple;
}
#box2 {
  background-color: purple;

}
#box3 {
  background-color: purple;

}
#box4 {
  background-color: purple;

}
